In [179]:
import pandas as pd
import numpy as np
import requests
from io import StringIO
from sklearn.preprocessing import StandardScaler

In [180]:
def fetch_data(url):
    response = requests.get(url)
    data = StringIO(response.text)
    df = pd.read_csv(data, sep=";")
    return df

def map_columns(df, columns, mapping):
    for column in columns:
        if column in df.columns:
            df[column] = df[column].map(mapping)
    return df

def one_hot_encode_columns(df, columns):
    # Check if the specified columns exist in the dataframe
    missing_cols = [col for col in columns if col not in df.columns]
    if missing_cols:
        raise ValueError(f"The following columns are not in the DataFrame: {', '.join(missing_cols)}")
    
    # Apply one-hot encoding to the specified columns
    df_encoded = pd.get_dummies(df, columns=columns, drop_first=False)

    df_encoded = df_encoded.map(lambda x: 1 if x is True else (0 if x is False else x))
    
    return df_encoded

def encode_cyclic_information(df, column_name, mapping):
    # Ensure the column exists in the DataFrame
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in the DataFrame.")
    
    # Map the days to numbers
    df[column_name] = df[column_name].map(mapping)
    
    # Create sine and cosine features for cyclic encoding
    df[column_name + '_sin'] = np.sin(2 * np.pi * df[column_name] / 7)
    df[column_name + '_cos'] = np.cos(2 * np.pi * df[column_name] / 7)
    
    # Drop the original day column if you no longer need it
    df = df.drop(columns=[column_name])
    
    return df

def mask_column(df, column, mask_value):
    if column not in df.columns:
        raise ValueError(f"Column '{column}' does not exist in the DataFrame.")
    
    mask_column_name = f"{column}_unknown"
    
    # Use pd.isna to handle NaN or None
    if pd.isna(mask_value):
        df[mask_column_name] = df[column].apply(lambda x: 1 if pd.isna(x) else 0)
    else:
        df[mask_column_name] = df[column].apply(lambda x: 1 if x == mask_value else 0)
    
    return df

def replace_value_mode(df, column, mask_value):
    if column not in df.columns:
        raise ValueError(f"Column '{column}' does not exist in the DataFrame.")

    # Create the mask column
    if pd.isna(mask_value):
        mask = df[column].isna()
    else:
        mask = df[column] == mask_value

    # Compute the mode of the column, excluding NaN
    column_mode = df.loc[~mask, column].mode()

    if column_mode.empty:
        raise ValueError(f"Cannot compute mode for column '{column}' as it has no valid values.")

    # Replace masked values with the mode
    df[column] = df[column].where(~mask, column_mode[0])

    return df

def standardize_columns(data, columns):
    scaler = StandardScaler()
    for column in columns : 
        data[column] = scaler.fit_transform(data[[column]])
    
    return data

def replace_unknown_NaN(data):
    pass

def drop_specific_data(data):
    #Drop the default column (20% is unknown, there are 3/41188 yes)
    #Drop the Pdays column (96.3% unknown)
    #Drop duration, as its for benchmarking not modeling

    data = data.drop(columns="default")
    data = data.drop(columns="pdays")
    data = data.drop(columns="duration")

    #Drop the 5 unknown data entries for now
    data = data.drop(columns="nr.employed")
    data = data.drop(columns="euribor3m")
    data = data.drop(columns="cons.conf.idx")
    data = data.drop(columns="emp.var.rate")
    data = data.drop(columns="cons.price.idx")
    
    return data

In [181]:
def get_unknown_percentage(df):
    unknown_percentages = {}

    # Loop over each column in the dataframe
    for column in df.columns:
        # Count the occurrences of 'unknown' in the column
        unknown_count = (df[column] == 'unknown').sum()
        
        if(column == "pdays") :
            unknown_count +=(df[column] == 999).sum()
        
        unknown_count +=(df[column].isna()).sum()
        
        # Calculate the percentage of 'unknown' values
        total_count = len(df[column])
        unknown_percentage = (unknown_count / total_count) * 100
        
        # Store the percentage in the dictionary
        unknown_percentages[column] = unknown_percentage
        print(f"{column} unknowns: {unknown_percentage}%")

    return unknown_percentages

def get_unknowns_per_row(row):
    return (row == 'unknown').sum()

def count_values(column_name, dataframe):
    if column_name not in dataframe.columns:
        print(f"Error: Column '{column_name}' not found in the DataFrame.")
        return None
    counts = dataframe[column_name].value_counts()
    return counts

In [182]:
url = "https://raw.githubusercontent.com/tuclaure/CSU-CS-345/refs/heads/main/Data/bank-additional/bank-additional/bank-additional-full.csv"
data = fetch_data(url)
print(get_unknown_percentage(data))
print()

for column in data :
    print(count_values(column, data))

age unknowns: 0.0%
job unknowns: 0.8012042342429834%
marital unknowns: 0.1942313295134505%
education unknowns: 4.202680392347285%
default unknowns: 20.87258424783918%
housing unknowns: 2.40361270272895%
loan unknowns: 2.40361270272895%
contact unknowns: 0.0%
month unknowns: 0.0%
day_of_week unknowns: 0.0%
duration unknowns: 0.0%
campaign unknowns: 0.0%
pdays unknowns: 96.32174419733903%
previous unknowns: 0.0%
poutcome unknowns: 0.0%
emp.var.rate unknowns: 0.0%
cons.price.idx unknowns: 0.0%
cons.conf.idx unknowns: 0.0%
euribor3m unknowns: 0.0%
nr.employed unknowns: 0.0%
y unknowns: 0.0%
{'age': 0.0, 'job': 0.8012042342429834, 'marital': 0.1942313295134505, 'education': 4.202680392347285, 'default': 20.87258424783918, 'housing': 2.40361270272895, 'loan': 2.40361270272895, 'contact': 0.0, 'month': 0.0, 'day_of_week': 0.0, 'duration': 0.0, 'campaign': 0.0, 'pdays': 96.32174419733903, 'previous': 0.0, 'poutcome': 0.0, 'emp.var.rate': 0.0, 'cons.price.idx': 0.0, 'cons.conf.idx': 0.0, 'euribor3m': 0.0, 'nr.employed': 0.0, 'y': 0.0}

age
31    1947
32    1846
33    1833
36    1780
35    1759
      ...
89       2
91       2
94       1
87       1
95       1
Name: count, Length: 78, dtype: int64
job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64
marital
married     24928
single      11568
divorced     4612
unknown        80
Name: count, dtype: int64
education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64
default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
housing
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
loan
no         33950
yes         6248
unknown      990
Name: count, dtype: int64
contact
cellular     26144
telephone    15044
Name: count, dtype: int64
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64
duration
90      170
85      170
136     168
73      167
124     164
       ...
1569      1
1053      1
1263      1
1169      1
1868      1
Name: count, Length: 1544, dtype: int64
campaign
1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
31        7
30        7
35        5
32        4
33        4
34        3
42        2
40        2
43        2
56        1
39        1
41        1
37        1
Name: count, dtype: int64
pdays
999    39673
3        439
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64
previous
0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
emp.var.rate
 1.4    16234
-1.8     9184
 1.1     7763
-0.1     3683
-2.9     1663
-3.4     1071
-1.7      773
-1.1      635
-3.0      172
-0.2       10
Name: count, dtype: int64
cons.price.idx
93.994    7763
93.918    6685
92.893    5794
93.444    5175
94.465    4374
93.200    3616
93.075    2458
92.201     770
92.963     715
92.431     447
92.649     357
94.215     311
94.199     303
92.843     282
92.379     267
93.369     264
94.027     233
94.055     229
93.876     212
94.601     204
92.469     178
93.749     174
92.713     172
94.767     128
93.798      67
92.756      10
Name: count, dtype: int64
cons.conf.idx
-36.4    7763
-42.7    6685
-46.2    5794
-36.1    5175
-41.8    4374
-42.0    3616
-47.1    2458
-31.4     770
-40.8     715
-26.9     447
-30.1     357
-40.3     311
-37.5     303
-50.0     282
-29.8     267
-34.8     264
-38.3     233
-39.8     229
-40.0     212
-49.5     204
-33.6     178
-34.6     174
-33.0     172
-50.8     128
-40.4      67
-45.9      10
Name: count, dtype: int64
euribor3m
4.857    2868
4.962    2613
4.963    2487
4.961    1902
4.856    1210
         ...
3.853       1
3.901       1
0.969       1
0.956       1
3.669       1
Name: count, Length: 316, dtype: int64
nr.employed
5228.1    16234
5099.1     8534
5191.0     7763
5195.8     3683
5076.2     1663
5017.5     1071
4991.6      773
5008.7      650
4963.6      635
5023.5      172
5176.3       10
Name: count, dtype: int64
y
no     36548
yes     4640
Name: count, dtype: int64

In [ ]:
binary_mapping = {
    'yes':1,
    'no':0,
    }

education_mapping = {
    'basic.4y':0,
    'basic.6y':1,
    'basic.9y':2,
    'high.school':3,
    'illiterate':4,
    'professional.course':5,
    'university.degree':6
    }

days_mapping = {
        'sun': 0,
        'mon': 1,
        'tue': 2,
        'wed': 3,
        'thu': 4,
        'fri': 5,
        'sat': 6
    }

months_mapping = {
        'jan': 0,
        'feb': 1,
        'mar': 2,
        'apr': 3,
        'may': 4,
        'jun': 5,
        'jul': 6,
        'aug': 7,
        'sep': 8,
        'oct': 9,
        'nov': 10,
        'dec': 11
    }

binary_columns = ["housing", "loan", "y"]
categorical_columns = ["job","marital","contact","poutcome"]
integer_columns = []

def preprocessing(mask_nans = True):
    data = fetch_data(url)
    
    #Remove Duplicate rows
    data = data[~data.duplicated()]

    #Drop necissary features
    data = drop_specific_data(data)

    #Map Binary values to 0,1,NaN
    data = map_columns(data, binary_columns, binary_mapping)

    #Map education to numeric quantities
    data = map_columns(data, ["education"], education_mapping)

    #One hot encode categorical data
    data = one_hot_encode_columns(data, categorical_columns)

    #Perform Cyclical mapping for time data
    data = encode_cyclic_information(data, "day_of_week", days_mapping)
    data = encode_cyclic_information(data, "month", months_mapping)
    
    if mask_nans :
        #create a mask for the pdays, housing, loan columns
        data = mask_column(data, "housing", None)
        data = mask_column(data, "loan", None)

        #Imput Housing and Loan to the mode
        data = replace_value_mode(data, "housing", None)
        data = replace_value_mode(data, "loan", None)
    return data


data = preprocessing()

for column in data :
    print(count_values(column, data))
        
print()
print(get_unknown_percentage(data))
print()
    
#Education Unknowns need to be handled
#Need to decide what should be standardized

#Currently WIP
#Create a different preprocessing type to be used with Models that can handle Unknowns, where NaN replaces unknown
#IE Random forests with surrogate splits etc
#Currently setup so mask_nans can be = False and it will return a dataset with binary values that have NaN

age
31    1947
32    1845
33    1833
36    1779
35    1758
      ...
89       2
91       2
94       1
87       1
95       1
Name: count, Length: 78, dtype: int64
education
6.0    12164
3.0     9512
2.0     6045
5.0     5240
0.0     4176
1.0     2291
4.0       18
Name: count, dtype: int64
housing
1.0    22561
0.0    18615
Name: count, dtype: int64
loan
0.0    34928
1.0     6248
Name: count, dtype: int64
campaign
1     17634
2     10568
3      5340
4      2650
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
31        7
30        7
35        5
32        4
33        4
34        3
42        2
40        2
43        2
56        1
39        1
41        1
37        1
Name: count, dtype: int64
previous
0    35551
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
y
0    36537
1     4639
Name: count, dtype: int64
job_admin.
0    30757
1    10419
Name: count, dtype: int64
job_blue-collar
0    31923
1     9253
Name: count, dtype: int64
job_entrepreneur
0    39720
1     1456
Name: count, dtype: int64
job_housemaid
0    40116
1     1060
Name: count, dtype: int64
job_management
0    38252
1     2924
Name: count, dtype: int64
job_retired
0    39458
1     1718
Name: count, dtype: int64
job_self-employed
0    39755
1     1421
Name: count, dtype: int64
job_services
0    37209
1     3967
Name: count, dtype: int64
job_student
0    40301
1      875
Name: count, dtype: int64
job_technician
0    34437
1     6739
Name: count, dtype: int64
job_unemployed
0    40162
1     1014
Name: count, dtype: int64
job_unknown
0    40846
1      330
Name: count, dtype: int64
marital_divorced
0    36565
1     4611
Name: count, dtype: int64
marital_married
1    24921
0    16255
Name: count, dtype: int64
marital_single
0    29612
1    11564
Name: count, dtype: int64
marital_unknown
0    41096
1       80
Name: count, dtype: int64
contact_cellular
1    26135
0    15041
Name: count, dtype: int64
contact_telephone
0    26135
1    15041
Name: count, dtype: int64
poutcome_failure
0    36924
1     4252
Name: count, dtype: int64
poutcome_nonexistent
1    35551
0     5625
Name: count, dtype: int64
poutcome_success
0    39803
1     1373
Name: count, dtype: int64
day_of_week_sin
-0.433884    8618
 0.781831    8512
 0.433884    8134
 0.974928    8086
-0.974928    7826
Name: count, dtype: int64
day_of_week_cos
-0.900969    8618
 0.623490    8512
-0.900969    8134
-0.222521    8086
-0.222521    7826
Name: count, dtype: int64
month_sin
-4.338837e-01    13767
-7.818315e-01     7169
-2.449294e-16     6176
-9.749279e-01     5318
 4.338837e-01     4100
 4.338837e-01     2631
 9.749279e-01      717
 7.818315e-01      570
 9.749279e-01      546
-4.338837e-01      182
Name: count, dtype: int64
month_cos
-0.900969    13767
 0.623490     7169
 1.000000     6176
-0.222521     5318
-0.900969     4100
-0.900969     2631
-0.222521      717
 0.623490      570
-0.222521      546
-0.900969      182
Name: count, dtype: int64
housing_unknown
0    40186
1      990
Name: count, dtype: int64
loan_unknown
0    40186
1      990
Name: count, dtype: int64

age unknowns: 0.0%
education unknowns: 4.2014765883038665%
housing unknowns: 0.0%
loan unknowns: 0.0%
campaign unknowns: 0.0%
previous unknowns: 0.0%
y unknowns: 0.0%
job_admin. unknowns: 0.0%
job_blue-collar unknowns: 0.0%
job_entrepreneur unknowns: 0.0%
job_housemaid unknowns: 0.0%
job_management unknowns: 0.0%
job_retired unknowns: 0.0%
job_self-employed unknowns: 0.0%
job_services unknowns: 0.0%
job_student unknowns: 0.0%
job_technician unknowns: 0.0%
job_unemployed unknowns: 0.0%
job_unknown unknowns: 0.0%
marital_divorced unknowns: 0.0%
marital_married unknowns: 0.0%
marital_single unknowns: 0.0%
marital_unknown unknowns: 0.0%
contact_cellular unknowns: 0.0%
contact_telephone unknowns: 0.0%
poutcome_failure unknowns: 0.0%
poutcome_nonexistent unknowns: 0.0%
poutcome_success unknowns: 0.0%
day_of_week_sin unknowns: 0.0%
day_of_week_cos unknowns: 0.0%
month_sin unknowns: 0.0%
month_cos unknowns: 0.0%
housing_unknown unknowns: 0.0%
loan_unknown unknowns: 0.0%
{'age': 0.0, 'education': 4.2014765883038665, 'housing': 0.0, 'loan': 0.0, 'campaign': 0.0, 'previous': 0.0, 'y': 0.0, 'job_admin.': 0.0, 'job_blue-collar': 0.0, 'job_entrepreneur': 0.0, 'job_housemaid': 0.0, 'job_management': 0.0, 'job_retired': 0.0, 'job_self-employed': 0.0, 'job_services': 0.0, 'job_student': 0.0, 'job_technician': 0.0, 'job_unemployed': 0.0, 'job_unknown': 0.0, 'marital_divorced': 0.0, 'marital_married': 0.0, 'marital_single': 0.0, 'marital_unknown': 0.0, 'contact_cellular': 0.0, 'contact_telephone': 0.0, 'poutcome_failure': 0.0, 'poutcome_nonexistent': 0.0, 'poutcome_success': 0.0, 'day_of_week_sin': 0.0, 'day_of_week_cos': 0.0, 'month_sin': 0.0, 'month_cos': 0.0, 'housing_unknown': 0.0, 'loan_unknown': 0.0}

age
31    1947
32    1845
33    1833
36    1779
35    1758
      ...
89       2
91       2
94       1
87       1
95       1
Name: count, Length: 78, dtype: int64
education
6.0    12164
3.0     9512
2.0     6045
5.0     5240
0.0     4176
1.0     2291
4.0       18
Name: count, dtype: int64
housing
1.0    21571
0.0    18615
Name: count, dtype: int64
loan
0.0    33938
1.0     6248
Name: count, dtype: int64
campaign
1     17634
2     10568
3      5340
4      2650
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
31        7
30        7
35        5
32        4
33        4
34        3
42        2
40        2
43        2
56        1
39        1
41        1
37        1
Name: count, dtype: int64
previous
0    35551
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64
y
0    36537
1     4639
Name: count, dtype: int64
job_admin.
0    30757
1    10419
Name: count, dtype: int64
job_blue-collar
0    31923
1     9253
Name: count, dtype: int64
job_entrepreneur
0    39720
1     1456
Name: count, dtype: int64
job_housemaid
0    40116
1     1060
Name: count, dtype: int64
job_management
0    38252
1     2924
Name: count, dtype: int64
job_retired
0    39458
1     1718
Name: count, dtype: int64
job_self-employed
0    39755
1     1421
Name: count, dtype: int64
job_services
0    37209
1     3967
Name: count, dtype: int64
job_student
0    40301
1      875
Name: count, dtype: int64
job_technician
0    34437
1     6739
Name: count, dtype: int64
job_unemployed
0    40162
1     1014
Name: count, dtype: int64
job_unknown
0    40846
1      330
Name: count, dtype: int64
marital_divorced
0    36565
1     4611
Name: count, dtype: int64
marital_married
1    24921
0    16255
Name: count, dtype: int64
marital_single
0    29612
1    11564
Name: count, dtype: int64
marital_unknown
0    41096
1       80
Name: count, dtype: int64
contact_cellular
1    26135
0    15041
Name: count, dtype: int64
contact_telephone
0    26135
1    15041
Name: count, dtype: int64
poutcome_failure
0    36924
1     4252
Name: count, dtype: int64
poutcome_nonexistent
1    35551
0     5625
Name: count, dtype: int64
poutcome_success
0    39803
1     1373
Name: count, dtype: int64
day_of_week_sin
-0.433884    8618
 0.781831    8512
 0.433884    8134
 0.974928    8086
-0.974928    7826
Name: count, dtype: int64
day_of_week_cos
-0.900969    8618
 0.623490    8512
-0.900969    8134
-0.222521    8086
-0.222521    7826
Name: count, dtype: int64
month_sin
-4.338837e-01    13767
-7.818315e-01     7169
-2.449294e-16     6176
-9.749279e-01     5318
 4.338837e-01     4100
 4.338837e-01     2631
 9.749279e-01      717
 7.818315e-01      570
 9.749279e-01      546
-4.338837e-01      182
Name: count, dtype: int64
month_cos
-0.900969    13767
 0.623490     7169
 1.000000     6176
-0.222521     5318
-0.900969     4100
-0.900969     2631
-0.222521      717
 0.623490      570
-0.222521      546
-0.900969      182
Name: count, dtype: int64

age unknowns: 0.0%
education unknowns: 4.2014765883038665%
housing unknowns: 2.4043131921507674%
loan unknowns: 2.4043131921507674%
campaign unknowns: 0.0%
previous unknowns: 0.0%
y unknowns: 0.0%
job_admin. unknowns: 0.0%
job_blue-collar unknowns: 0.0%
job_entrepreneur unknowns: 0.0%
job_housemaid unknowns: 0.0%
job_management unknowns: 0.0%
job_retired unknowns: 0.0%
job_self-employed unknowns: 0.0%
job_services unknowns: 0.0%
job_student unknowns: 0.0%
job_technician unknowns: 0.0%
job_unemployed unknowns: 0.0%
job_unknown unknowns: 0.0%
marital_divorced unknowns: 0.0%
marital_married unknowns: 0.0%
marital_single unknowns: 0.0%
marital_unknown unknowns: 0.0%
contact_cellular unknowns: 0.0%
contact_telephone unknowns: 0.0%
poutcome_failure unknowns: 0.0%
poutcome_nonexistent unknowns: 0.0%
poutcome_success unknowns: 0.0%
day_of_week_sin unknowns: 0.0%
day_of_week_cos unknowns: 0.0%
month_sin unknowns: 0.0%
month_cos unknowns: 0.0%
{'age': 0.0, 'education': 4.2014765883038665, 'housing': 2.4043131921507674, 'loan': 2.4043131921507674, 'campaign': 0.0, 'previous': 0.0, 'y': 0.0, 'job_admin.': 0.0, 'job_blue-collar': 0.0, 'job_entrepreneur': 0.0, 'job_housemaid': 0.0, 'job_management': 0.0, 'job_retired': 0.0, 'job_self-employed': 0.0, 'job_services': 0.0, 'job_student': 0.0, 'job_technician': 0.0, 'job_unemployed': 0.0, 'job_unknown': 0.0, 'marital_divorced': 0.0, 'marital_married': 0.0, 'marital_single': 0.0, 'marital_unknown': 0.0, 'contact_cellular': 0.0, 'contact_telephone': 0.0, 'poutcome_failure': 0.0, 'poutcome_nonexistent': 0.0, 'poutcome_success': 0.0, 'day_of_week_sin': 0.0, 'day_of_week_cos': 0.0, 'month_sin': 0.0, 'month_cos': 0.0}

In [184]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

def split_data(df):
    y = df['y']
    X = df.drop(columns=['y'])
    return X, y

preprocessed_data = basic_preprocessing()
X, y = split_data(data)

over_strength = 0.2
under_strength = 0.5
over = SMOTE(sampling_strategy=over_strength, random_state=42)
under = RandomUnderSampler(sampling_strategy=under_strength, random_state=42)

#Create Train-TestSplit


#Handling Imbalance styles

#Get Over resample sets
X_over_resample, y_over_resample = over.fit_resample(X_train, y_train)

#Get Under Resample sets
X_under_resample, y_under_resample = under.fit_resample(X_train, y_train)

#Use class weight adjustments in SVM, Logicistic Regression, Random Forest

#Use a balanced Random Forest

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.metrics import classification_report, roc_auc_score, precision_recall_curve

#Accuracy is not a good metric on imbalanced data sets, still display it but also calculate
# Precision, Recall, and F1-Score: These metrics give a better understanding of the modelâ€™s performance on the minority class.
# ROC-AUC: Measures how well the model distinguishes between the two classes, even in imbalanced scenarios.
# Precision-Recall AUC: This is especially useful when the dataset is highly imbalanced, as it focuses on the performance on the minority class.

#THIS IS AN EXAMPLE OF METRICS, STILL NEEDS MODELS
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

# ROC-AUC Score
roc_auc = roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])
print(f"ROC-AUC Score: {roc_auc}")

# Precision-Recall AUC
precision, recall, _ = precision_recall_curve(y_test, model.predict_proba(X_test)[:, 1])